@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Ders 4</title>
</head>
<body>
    <div style="background-color:aqua">Projemin Başılangıcı saat: @DateTime.Now.ToShortTimeString()</div>
    <br />
    <div style="border-radius: 5px; background-color:yellow; color:darkblue">
        @for(int i = 0; i <= 10; i++){
            @i
            <br />
        }
    </div>
    <br />
    <div style="border-radius: 5px; background-color:darkblue; color:white">
        @{
            var liste = new List<string>() { "İstanbul", "Ankara", "Şanlıurfa" };
        }
        @foreach(var Li in liste){
            @Li <br />
        }
        </div>
    </body>
    </html>
